<form>
  <input type="hidden" name="paymentId" [value]="service.formData.paymentId" />
  <div class="form-group">
    <label>CARD HOLDER</label>
    <input type="text" class="form-control form-control-lg" placeholder="Type your full name" name="cardHolder"
      #cardNumber="ngModel" [(ngModel)]="service.formData.cardHolder">
  </div>
  <div class="form-group">
    <label>CARD NUMBER</label>
    <input type="text" class="form-control form-control-lg" placeholder="Type your card 16 numbers" name="cardNumber"
      #cardNumber="ngModel" [(ngModel)]="service.formData.cardNumber">
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label>EXPIRING DATE</label>
      <input type="text" class="form-control form-control-lg" placeholder="MM/YY" name="expiringDate"
        #expiringDate="ngModel" [(ngModel)]="service.formData.expiringDate">
    </div>
    <div class="form-group col-md-6">
      <label>SECURITY CODE</label>
      <input type="password" class="form-control form-control-lg" placeholder="Security Code"
        name="securityCode" #securityCode="ngModel" [(ngModel)]="service.formData.securityCode">
    </div>
  </div>
</form>
